<template>
    <!-- set to 8 columns of 12 to not use the whole page -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <!-- toolbar at the top of the form -->
                <div class="list-group-item">
                    <span click.trigger="back()"><i data-feather="arrow-left-circle"></i></span>
                    <span click.trigger="save()" style="margin-left:5px;"><i data-feather="save"></i></span>
                    <span show.bind="form._id" click.trigger="delete(form)"><i data-feather="trash"></i></span>
                </div>
                <!-- edit application form -->

                <div class="form-group" show.bind="showStatusInForm" style="margin-top:20px;">
                    <label for="Status">Status</label>
                    <select value.bind="form.status" class="form-control" id="Status">
                        <option value="new">New</option>
                        <option value="approved">Approved</option>
                        <option value="denied">Denied</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    <label for="schoolName">School name</label>
                    <input type="email" class="form-control" value.bind="form.schoolName">
                </div>
                <div class="form-group">
                    <label for="courseOfStudy">Course of Study</label>
                    <input type="email" class="form-control" value.bind="form.courseOfStudy">
                </div>
                <div class="form-group">
                    <label for="schoolYear">School Year</label>
                    <!-- <label class="warn" for="schoolYearWarn">*must be a numeric year</label> -->
                    <input type="number" class="form-control" value.bind="form.schoolYear">
                </div>
                <div class="form-group">
                    <label for="amountRequested">Amount Requested</label>
                    <!-- <label class="warn" for="amountWarn">*must be a numeric dollar amount</label> -->
                    <input type="number" class="form-control" value.bind="form.amountRequested" >
                </div>
                <div class="row">
                    <div class="col-2">
                        <label class="btn btn-primary">
                            Browse for files&hellip; <input type="file" style="display: none;" change.delegate="changeFiles()"
                                files.bind="files">
                        </label>
                    </div>
                    <div class="col-10">
                        <ul>
                            <li repeat.for="file of filesToUpload" class="list-group-item">${file.name}<span
                                    click.delegate="removeFile($index)" class="pull-right"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="applicantComment">Your Application (please upload your formal application as a PDF file and add additional comments in the box below)</label>
                    <textarea class="form-control" rows="3" value.bind="form.applicantComments" placeholder="Additional comments here."></textarea>
                </div>
                <div>
                    <a href="http://localhost:3300/uploadedFiles/forms/${form.file.fileName}" target="_blank">${form.file.originalFileName}</a>
                </div>

            </div>
        </div>
    </div>
</template>