<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <span click.trigger="newForm()"><i data-feather="plus"></i></span>
                                <span click.trigger="getForms()" style="margin-left:5px;"><i data-feather="refresh-cw"></i></span>
                            </th>
                        </tr>

                        <tr show.bind= "userObj.role = 'requestor'">
                            <th scope="col">Date Created</th>
                            <th scope="col">Status</th>
                            <th scope="col">School Name</th>
                            <th scope="col">Course of Study</th>
                            <th scope="col">School Year</th>
                            <th scope="col">Amount requested</th>
                        </tr>

                        <tr show.bind= "userObj.role != 'requestor'">
                                <th scope="col">Name</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Status</th>
                                <th scope="col">School Name</th>
                                <th scope="col">Course of Study</th>
                                <th scope="col">School Year</th>
                                <th scope="col">Amount requested</th>
                            </tr>

                    </thead>

                    <tbody>
                        <tr click.trigger="editForm(form)" repeat.for="form of forms.formsArray">
                            <td show.bind= "userObj.role != 'requestor'">
                                ${form.requesterId.firstName}

                                ${form.requesterId.lastName}
                            </td>
                            <td innerhtml.bind="form.dateCreated | formatDate"></td>
                            <td>${form.status}</td>
                            <td>${form.schoolName}</td>
                            <td>${form.courseOfStudy}</td>
                            <td>${form.schoolYear}</td>
                            <td>${form.amountRequested}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>